JIPipePlugin/private_settings.py
J2O/__pycache__/*.py[cod]
JIPipePlugin/__pycache__/*.py[cod]
db.sqlite3
JIPipeDatabase
debug.log
*.egg-info/
.idea/
jcef-bundle
build
Writerside
celery_worker.log
celery_worker.pid