<script>
    $(function() {
       // Initialise the right tab plugin, on our specified tab element
       $("#jipipe_form_container").omeroweb_right_plugin({
           plugin_enabled: function(selected){
                // Check if the selected object is of the correct type
                return true;
           },
           load_plugin_content: function(selected, obj_dtype, obj_id) {
               // Create the plugin container
               var url = "{% url 'j2o_index' %}";
               $(this).load(url);
            },
       });
    });
    </script>
    